#principal {
    width: 400px;
    height: 300px;
    border: 2px solid #333;
}

#principal img {
    width: 100%;
    height: 100%;
}

.miniaturas img {
    margin-top: 20px;
    width: 80px;
    margin-right: 10px;
}